.section > .h1 {
  margin: 0.4em 0 0.6em;
}

.roadmap th:first-child {
  width: 25%;
}

.table th.timeline {
  padding: 0;
}

.table td.timeline {
  padding-left: 10px;
  padding-right: 10px;
}

.roadmap .project-title {
  cursor: pointer;
}

.roadmap .progress {
  height: 2em;
}

.roadmap .progress-bar {
  height: 2em;
}

.roadmap .level1 th {
  padding-left: 2em;
}

.roadmap .level2 th {
  padding-left: 4em;
}

.roadmap .level3 th {
  padding-left: 6em;
}

.roadmap .level4 th {
  padding-left: 8em;
}

.section > .hr {
  margin: 3em 0;
}

